<!--Criaçao do rodapé-->
<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4>Siga-nos Também no: </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="RSocial">
                    <li>
                        <a href="https://github.com/Thales-Santan?tab=repositories" target="_blank">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/thalesferreirat2h/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Exemplo de copyright com link para outra pagina-->
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-white">&copy;2021 Todos os direitos reservados: </span>
        <a class="text-light" target="_blank" href="https://www.morrademedo.com/tag/assustador/"> NaoCliqueNesseLink.com</a>
    </div>
</footer>
<!--/Criaçao do rodapé-->