/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

/*Aumentando a fonte do H1 e H5*/
.fsh1{
    font-size: 54pt;
}

.fsh5{
    font-size: 18pt;
}