/*Colocando a imagem da pg de entrada*/
#img-bg{
    background-image:url(https://imgur.com/DBxlTcd.png);
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }